<p id="notice"><%= notice %></p>

<h2><%= @poll.question %></h2>
<% if current_user.voted_in?(@poll) %>
  You voted <strong><%= format_response(current_user.vote_for(@poll)) %></strong>.
<% else %>
  <%= form_for([@poll, @poll.votes.build]) do |f| %>
    <div class="field">
      <%= f.radio_button "response", "1" %> Yes
      <br>
      <%= f.radio_button "response", "0" %> No
    </div>
    <div class="actions">
      <%= f.submit 'Vote!' %>
    </div>
  <% end %>
<% end %>

<% if @poll.votes.any? %>
  <h2>Results</h2>
  <table>
    <tr>
      <th>Yes</th>
      <th>No</th>
    </tr>
    <tr>
      <td><%= @poll.yes_votes_count %></td>
      <td><%= @poll.no_votes_count %></td>
    </tr>
<% end %>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', root_path %>
